/*
Colors used:
Primary Color (white): #fff;
Secondary Color (dark grey): #393939;
Accent Color (gold): #e5c453;
*/

@font-face {
  font-family: "FuturaPT";
  src: url(../FuturaPTHeavy.woff) format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "FuturaPT";
  src: url(../FuturaPTMedium.woff) format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "FuturaPT";
  src: url(../FuturaPTLight.woff) format("woff");
  font-style: normal;
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

header {
  background-color: #393939;
  padding: 10;
  margin: 0;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.212);
  position: fixed;
  width: 100%;
  text-align: center;
}

body {
  background-color: #fff;
  font-family: 'FuturaPT', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #393939;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "FuturaPT", sans-serif;
  line-height: 1.4;
  text-transform: none;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

h2 {
  font-size: 1.8em;
  font-weight: 700;
}

h2 .footer {
  font-size: 1.8em;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
}

h4 {
  font-size: 1.2em;
  font-weight: 300;
}

img {
  width: 100%;
}

a {
  color: #393939;
  font-weight: 700;
  text-decoration: none;
}

a:active {
  color: #e5c453;
  font-weight: 700;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #e5c453;
  font-weight: 700;
  text-decoration: none;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #e5c453;
  color: #fff; /* needed to override the default link color */
  font-weight: 700;
  padding: 10px;
  border-radius: 30px;
  transition: 1s opacity;
  text-decoration: none;
}

.button:hover {
  background-color: #fff;
  color: #e5c453; /* needed to override the default link color */
  font-family: "FuturaPT";
  font-weight: 500;
  padding: 8px;
  text-decoration: none;
  border-radius: 30px;
  border: 2px solid #e5c453;
}

.button:active {
  background-color: #fff;
  color: #e5c453; /* needed to override the default link color */
  font-family: "FuturaPT";
  font-style: normal;
  font-weight: 500;
  padding: 8px;
  text-decoration: none;
  border-radius: 30px;
  border: 2px solid #e5c453;
}

.button.contact {
  background-color: #fff;
  color: #e5c453; /* needed to override the default link color */
  font-family: "FuturaPT";
  font-style: normal;
  font-weight: 500;
  padding: 8px;
  margin: 0;
  text-decoration: none;
  border-radius: 30px;
  border: 2px solid #e5c453;
}

.button.contact:hover {
  background-color: #e5c453;
  color: #fff; /* needed to override the default link color */
  font-family: "FuturaPT";
  font-style: normal;
  font-weight: 300;
  padding: 8px;
  text-decoration: none;
  border-radius: 30px;
  border: 2px solid #fff;
  opacity: 0.8;
}

.navigation {
  display: inline-block;
  width: 100%;
  background-color: #393939;
  color: #fff;
  font-family: "FuturaPT";
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}

.navigation:hover {
  display: inline-block;
  background-color: #393939;
  color: #e5c453;
  font-family: "FuturaPT";
  font-style: normal;
  font-weight: 700;
  text-decoration: underline;
}

.navigation:active {
  background-color: #393939;
  color: #e5c453;
  font-family: "FuturaPT";
  font-style: normal;
  font-weight: 700;
  text-decoration: underline;
}

/* Layout styling */

.container {
  padding: 0 20px; /* Seitenrand left and right */
}

.logo {
  max-width: 80px;
}

.social {
  max-width: 50px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero {
  background-color: #393939;
  color: #fff;
  margin: none;
  height: 500px;
  text-align: center;
  display: inline-block;
  width: 100%;
}

main {
  padding-top: 133px;
}

.center {
  text-align: center;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}

nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
}

nav > ul > li > a:active {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
}

nav > ul > li > a:focus {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #e5c453;
}

nav > ul > li > a:hover {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
}
